# ===== OS =====
.DS_Store

# ===== IntelliJ =====
.idea/
*.iml
out/

# ===== Backend (Spring Boot) =====
backend/.gradle/
backend/build/
backend/out/

# gradle wrapper는 유지
!backend/gradle/wrapper/gradle-wrapper.jar

# ===== Frontend =====
frontend/node_modules/
frontend/.next/
frontend/dist/

# ===== ETC =====
HELP.md